.header-container {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999; /* Add this line */    
    padding-top: 15px;
}

.header-container p {
    margin: 0.5rem;
 
}

.header-container a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0.5rem;
}

.header-container a:hover {
    text-decoration: underline;
}

.float-left{
    text-align: left;
}
.float-right{
    text-align: right;
    display:flex;
    align-items: center;
}